{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>申请试用路书云TOS</title>
  <meta name="description" content="路书科技为旅行社的定制旅游业务，提供路书制作、目的地知识库管理、行中手机导航、行程方案报价等解决方案。路书云TOS是旅行社发展定制旅游专业的旅游管理系统，帮助旅行社建立目的地知识库，提高行程规划效率。">
  <link rel="Shortcut Icon" href="{% static "images/favorite.ico" %}" type="image/x-icon" />
  <link rel="Bookmark" href="{% static "images/favorite.ico" %}" type="image/x-icon" />
  <link rel="icon" href="{% static "images/favorite.ico" %}" type="image/x-icon" />
  <link href="{% static "css/layout.css" %}" rel="stylesheet" type="text/css" />
  <link href="{% static "css/font.css" %}" rel="stylesheet" type="text/css" />
  <link href="{% static "css/cont.css" %}" rel="stylesheet" type="text/css" />
  <link href="{% static "css/responsive.css" %}" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="{% static "js/jquery-1.8.3.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/default.js" %}"></script>
</head>

<body>

  <img src="{% static "images/logo.jpg" %}" style="display: none" />

  <div class="container">
    <a href="{% url "TOS_Pyramid.views.shareCode" account.id %}" class="btnBack"></a>
    <h1>激活优惠码</h1>

    <div class="errorMsg">{% if error %}{{ error }}{% endif %}</div>

    <form method="post">
      {% csrf_token %}

      <input type="text" id="name" name="name" placeholder="姓名"/>
      <input type="text" id="company" name="organization" placeholder="公司名称"/>
      <input type="text" id="phone" name="phone" placeholder="手机号码"/>
      <input type="text" id="email" name="email" placeholder="邮箱地址"/>
      <input type="hidden" name="code" value="{{ code }}" />

      <div class="btnWrap"><a href="javascript:void(0)" id="btnSubmit" class="btnBar2">提交</a></div>
    </form>
  </div>
</body>
</html>
