{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>更换优惠码</title>
  <meta name="description" content="路书科技为旅行社的定制旅游业务，提供路书制作、目的地知识库管理、行中手机导航、行程方案报价等解决方案。路书云TOS是旅行社发展定制旅游专业的旅游管理系统，帮助旅行社建立目的地知识库，提高行程规划效率。">
  <link rel="Shortcut Icon" href="{% static "images/favorite.ico" %}" type="image/x-icon" />
  <link rel="Bookmark" href="{% static "images/favorite.ico" %}" type="image/x-icon" />
  <link rel="icon" href="{% static "images/favorite.ico" %}" type="image/x-icon" />
  <link href="{% static "css/layout.css" %}" rel="stylesheet" type="text/css" />
  <link href="{% static "css/font.css" %}" rel="stylesheet" type="text/css" />
  <link href="{% static "css/cont.css" %}" rel="stylesheet" type="text/css" />
  <link href="{% static "css/responsive.css" %}" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="{% static "js/jquery-1.8.3.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/default.js" %}"></script>
</head>

<body>

  <div class="container">
    <div class="bell">
      <img src="{% static "images/bell.png" %}" width="152"/>
    </div>

    <div class="h2 center">
      <div class="green">您已经激活了一个机构优惠码</div>
      是否要重新激活新的优惠码<br/>
    </div>

    <div class="btnWrap">

      <form method="post">
        {% csrf_token %}
        <input type="hidden" name="bind" value="1" />
        <a href="javascript:void(0)" onclick="$(this).closest('form').submit(); return false;" class="btnBar">使用新的优惠码</a>
      </form>

      <form method="post">
        {% csrf_token %}
        <input type="hidden" name="bind" value="0" />
        <a href="javascript:void(0)" onclick="$(this).closest('form').submit(); return false;" class="btnBarGrey">不更换我的优惠码</a>
      </form>
    </div>
  </div>




</body>
</html>